.sidebar {
    background-color: rgb(69, 157, 192);
    position: fixed;
    
  }
  .sidebar li {
    margin-bottom: 2em;
   
  }
  .sidebar li:hover span {
    display: inline-block;
    transform: translate(5px);
  
  }
  .sidebar svg {
    margin-right: 5px;
  }
  .nav_text{
      text-decoration: none;
  }
 h2{
    font-size: 25px !important;
    font-weight: bold;
    color: white;
  }
  